body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	color: #4d4d4f;
}

a {
	color: #bb5536;
	text-decoration: none;
}

a:hover {
	color: #9d4327;
	text-decoration: underline;
}

h2 {
	font-weight: 600;
	font-size: 28px;
}

img {
	display: block;
	max-width: 100% !important;
}

p {
	margin: 0 0 24px 0;
}

a.btn {
	padding: 16px 32px;
	color: #fff;
	background: #bb5536;
	border-radius: 4px;
	border: 0;
	line-height: 1em;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 22px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
}

a.btn:hover {
	background-color: #9d4327;
	box-shadow: 0 0 8px rgba(0,0,0,0.1);
	text-decoration: none;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.section .wrapper {
	padding: 42px 20px;
}

.logo-bg {
	background: url(img/section-title-bg.jpg) repeat center center;
}

.circle {
	border-radius: 50%;
}

.fancy-text {
	font-family: 'Dancing Script', cursive;
	color: #0078ae;
	font-weight: 700;
	padding-bottom: 16px;
	background: url(img/logo-underline.svg) no-repeat bottom center;
}

.fancy-text:hover {
	color: #004260;
	text-decoration: none;
	background-image: url(img/logo-underline-hover.svg);
}

/* ********************************************** */
/* ****************** COLUMNS ******************* */
/* ********************************************** */

.columns /* default is 4 wide */
{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5%;
}

.columns.two-wide
{
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4%;
}

.columns.three-wide
{
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3%;
}

.columns.five-wide
{
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2.5%;
}

.columns.custom-alignment .col
{
  display: flex;
}

.columns.vertical-center .col
{
  align-items: center;
}

.columns.horizontal-center .col
{
  justify-content: center;
  text-align: center;
}

.columns.horizontal-right .col
{
  justify-content: flex-end;
  text-align: right;
}

/* ********************************************** */
/* ******************* HEADER ******************* */
/* ********************************************** */


.header {
	background: rgba(255,255,255,0.85);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	transition: all 0.4s ease-in-out;
}

.header .wrapper {
	padding-top: 0;
	padding-bottom: 0;
}

.header .wrapper:after {
	content: '';
	display: block;
	clear: both;
}

.header .logo {
	float: left;
	padding: 12px 0 16px 0;
	width: 190px;
	transition: all 0.4s ease-in-out;
	border-bottom: 4px solid transparent;
}

.header .logo:hover {
	opacity: 0.8;
	border-bottom-color: #bb5536;
}

.header .nav {
	float: right;
	font-size: 21px;
}

.nav .menu-link {
	display: none;
}

.menu {
	margin: 0;
	padding: 0;
}

.menu li {
	float: left;
	list-style: none;
	position: relative;
}

.menu li .sub-menu {
	display: none;
}

.header .menu > li > a {
	line-height: 53px;
	transition: all 0.4s ease-in-out;
}

.header .menu > li:first-child {
	display: none;
}

.menu a {
	display: block;
	font-weight: 700;
	padding: 20px;
	color: #3e3e3f;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}

.menu a:hover,
.menu li.current-menu-item > a {
	text-decoration: none;
	color: #bb5536;
	border-bottom-color: #bb5536;
}

.header .menu .btn a {
	padding: 12px 16px;
	color: #fff;
	background: #bb5536;
	border-radius: 4px;
	border: 0;
	margin: 28px 10px;
	line-height: 1em;
}

.header .menu .btn a:hover {
	background-color: #9d4327;
	box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.header .icon-search {
	float: right;
	color: #3e3e3f;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	padding: 38px 16px 39px;
	transition: all 0.4s ease-in-out;
}

.header .icon-search:hover {
	color: #bb5536;
	text-decoration: none;
	border-bottom-color: #bb5536;
}

.scrolled .header {
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.scrolled.home .header {
	background: rgba(255,255,255,0.7);
}

.scrolled .header .logo {
	width: 116px;
	padding: 6px 0 8px 0;
}

.scrolled .header .menu > li > a {
	line-height: 28px;
	padding: 12px 20px;
}

.scrolled .header .menu .btn a {
	line-height: 1em;
	padding: 12px 16px;
	margin: 7px 10px 8px 10px;
}

.scrolled .header .icon-search {
	padding: 18px 16px;
}

/* ********************************************** */
/* ******************* FOOTER ******************* */
/* ********************************************** */


.footer {
	background: #444;
	color: #999;
}

.footer .menu a {
	color: #fff;
}

/* ********************************************** */
/* ******************** HERO ******************** */
/* ********************************************** */

.hero {
	position: relative;
	overflow: hidden;
}

.hero.with-content {
	padding: 160px 0;
}

.hero h1 {
	color: #fff;
	font-size: 44px;
	font-weight: 600;
	margin-bottom: 20px;
}

.hero.with-content > img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.hero .wrapper {
	position: relative;
}

.hero-content {
	background: rgba(0,0,0,0.3);
	padding: 30px;
	text-align: center;
	width: 38%;
	margin-right: 10%;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.6em;
	float: right;
}

.section-title {
	background: url(img/section-title-bg.jpg) repeat center center;
	text-align: center;
	font-size: 36px;
	color: #bb5536;
}

.section-title .wrapper {
	padding-top: 36px;
	padding-bottom: 36px;
}

/* ********************************************** */
/* ****************** HOME PAGE ***************** */
/* ********************************************** */

.home .header {
	background: transparent;
}

/* ********************************************** */
/* ************ CTAs (Call-To-Action) *********** */
/* ********************************************** */

.cta {
	text-align: center;
	font-size: 21px;
	line-height: 1.5em;
	margin: 40px 0;
}

.cta a.fancy-text {
	font-size: 40px;
	margin-top: 24px;
	display: inline-block;
}

.cta h2 {
	text-transform: uppercase;
	color: #bb5536;
	font-weight: 600;
	margin-top: 30px;
}

.cta img {
	border: 4px solid #bb5536;
	margin: 0 auto;
	width: 80%;
}

/* ********************************************** */
/* ************* Blog Listings Pages ************ */
/* ********************************************** */

.pagination.section-title {
	font-size: 18px;
	color: #4d4d4f;
}

.pagination .btn {
	margin-left: 30px;
	margin-right: 30px;
}

.listings-grid {
	padding-top: 60px;
	padding-bottom: 60px;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr 1fr;
}

.listings-grid > .featured {
	grid-column: span 2;
}

.article {
	position: relative;
	overflow: hidden;
}

.article.intro .article-content {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,0.8);
	color: #fff;
	padding: 20px;
	box-sizing: border-box;
}

.article.intro .article-content h2 {
	font-size: 24px;
	margin: 0 0 8px 0;
	font-weight: 600;
}

.article.intro .article-content h2 a {
	display: block;
}

.article.intro .article-content p {
	height: 0;
	overflow: hidden;
	margin: 0;
	opacity: 0;
	transition: all 0.4s ease-in-out;
}

.article.intro .article-content .article-meta {
	
	line-height: 37px;
	color: #e3e3e3;
	font-size: 13px;
}

.article.intro a {
	color: #fff;
}

.article.intro a img {
	transition: all 0.2s ease-in-out;
}

.article.intro a:hover {
	color: #ddd;
}

.article.intro a:hover img {
	opacity: 0.8;
	transform: scale(1.1);
}

.article.intro a.fancy-text {
	font-size: 24px;
	float: right;
	height: 0;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
	padding: 0;
	opacity: 0;
}

.article.intro:hover .article-content a.fancy-text {
	padding-bottom: 8px;
	height: auto;
	opacity: 1;
}

.article.intro:hover .article-content p {
	height: auto;
	margin: 0 0 8px 0;
	opacity: 1;
}

.subscribe-block {
	color: #3b3b3c;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.subscribe-block h2 {
	text-transform: uppercase;
	color: #bb5536;
}

.subscribe-block-content {
	padding: 24px;
}

